html,body{
	height: 100%;
	width: 100%;
}

body{
	margin: 0px;
	padding:0px;
}

.logo{
	color:#f26522;
	font-size:25px;
	margin-top:8px;
	margin-left:20px;
	position:fixed;
	text-decoration: none;
}

.navbar{
	background:#2d3436;
	padding: 0.4% 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav li{
	color:white;
	font-weight: bold;
	padding-right: 10px;
}


.navbar-default .navbar-nav li a{
	color:white;
	font-weight: bold;
}

.navbar-default .collapse{
	padding-right: 40px;
}

.navbar-default .navbar-nav .active a , .navbar-default .navbar-nav .active a:hover
{	
	color: white;
	background-color:#7E7E7E;
	/*border-bottom:2px solid white;*/
}

.navbar-default .navbar-nav li a:hover{
	color: white;
	background-color:#7E7E7E; 
}

.span-img{
	position: relative;
	margin-left: 10px;
}





#home {
	background:url('../images/langinpagee.png') no-repeat center center fixed ;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	padding-top: 30px;
}


.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	color: #f26522;
	

}

@keyframes fromBottom{
	0%{
		transform: translateY(-20px);
	}
	50%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(-20px);
		}
}


.landing-text .subhead{
	position:relative;
	margin-top: -10px;

}
.subhead{
	font-size: 22px;
}



/*.landing-text .btn{
	background-color:#f26522;
	color: white;
	
}*/

.explore-btn:hover{
	background:transparent;
	transform: scale(1.1);
	
}
.explore-btn{
	background:transparent;
	padding:10px 40px;
	border-radius: 0;
	margin-top: 50px;	
	box-shadow: 0 0 5px #EEDFC6;
	transition:all 0.5s ease;
}

.header-link{
	color: #242424;
	background: #c9c1ac;
	border-radius: 10px;
	transition: all 2s ease;
	animation: fromBottom;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


.image-flip:hover .backside, .image-flip.hover .backside {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}

.image-flip {
	margin-top: 40px;
margin-bottom:40px;
width: 30%;
height: 250px;
margin-left: 35%;
margin-right: 35%;
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
}

.mainflip {
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-ms-transition: 1s;
-moz-transition: 1s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: relative;
}

.frontside, .backside {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-moz-transition: 1s;
-moz-transform-style: preserve-3d;
-o-transition: 1s;
-o-transform-style: preserve-3d;
-ms-transition: 1s;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;
}

.frontside {
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
z-index: 2;
}

.backside {
background: white;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}

.card{
border-radius: 0;
}

.fa-wrench{

	font-size: 4em;
	color: #f26522;
}

.frontside{
	margin-top: 60px;
}

.backside .card-text{
	margin-top: 80px;
}












.image {
    position: relative;
    text-align: center;
    color: white;
}



.top-right {
	font-weight: bold;
    position: absolute;
    color: white;
    top: 140px;
    left: 100px;
    vertical-align: middle;
}






.section-content{
  text-align: center; 

}
#contact{
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: linear-gradient(to left, #3a6186 , #89253e); 
  color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
  border-radius: 0px;
  background: transparent;
}
textarea.form-control {
    height: 135px;

}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
